<div class="container mx-auto h-screen pb-3 pt-24 relative">
	<div
		class="flex w-full rounded-lg h-full overflow-auto lg:flex-row flex-col shadow-2xl">
		<div class="w-full h-full bg-red-500 text-white flex flex-col">
			<ng-content></ng-content>
		</div>
	</div>
</div>
