<nav
	class="flex justify-between py-4 bg-red-700/80 px-4 backdrop-blur-md shadow-md w-full fixed top-0 left-0 right-0 z-10">
	<div class="flex items-center">
		<a class="cursor-pointer" routerLink="/cases">
			<h1 class="flex items-center text-5xl font-extrabold dark:text-white">
				FIRE<span
					class="bg-blue-100 text-blue-800 text-2xl font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-red-800 ml-2"
					>CASE</span
				>
			</h1>
		</a>
	</div>

	<div class="flex items-center space-x-5">
		<ng-container *ngIf="currentUser$ | async as user; else login">
			<span class="flex text-white cursor-pointer">
				{{ user.name }}
			</span>
			<span
				class="flex text-white cursor-pointer"
				*ngIf="currentBalance$ | async as balance"
				>{{ balance.amount }} {{ balance.currency }}</span
			>
		</ng-container>
		<ng-template #login>
			<a
				class="flex text-gray-600 cursor-pointer transition-colors duration-300 font-semibold text-blue-600"
				[href]="loginUrl"
				target="_blank">
				<svg
					class="fill-current h-5 w-5 mr-2 mt-0.5"
					xmlns="http://www.w3.org/2000/svg"
					version="1.1"
					width="24"
					height="24"
					viewBox="0 0 24 24">
					<path
						d="M10,17V14H3V10H10V7L15,12L10,17M10,2H19A2,2 0 0,1 21,4V20A2,2 0 0,1 19,22H10A2,2 0 0,1 8,20V18H10V20H19V4H10V6H8V4A2,2 0 0,1 10,2Z" />
				</svg>
				Login
			</a>
		</ng-template>
	</div>
</nav>
