<fc-box-layout-container>
  <div class='pt-5'>
    <div
      class='grid grid-cols-3 p-8 gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 pt-10 bg-red-500 p-4'>
      <!--  This could be optimised with a lazy-loading list or something like cdk infinite scrolling    -->
      <fc-box-list-item
        class='transition-transform transform hover:scale-105 cursor-pointer duration-300 ease-in-out'
        *ngFor='let box of boxes'
        [box]='box'></fc-box-list-item>
    </div>
  </div>
</fc-box-layout-container>
