<div
	class="rounded-xl shadow-xl bg-white"
	*ngIf="box"
	[routerLink]="['/cases/', box.id]">
	<img class="rounded-t-xl w-full h-40 object-contain" [src]="box.iconUrl" />
	<div class="flex flex-col p-7">
		<div class="flex flex-row">
			<div
				class="text-xs uppercase bg-yellow-100 p-1 px-2 text-yellow-700 rounded-2xl">
				{{ box.cost }}$
			</div>
		</div>
		<h2 class="text-xl font-bold truncate mt-1">{{ box.name }}</h2>
		<p class="text-base text-gray-600 mt-1">{{ box.name }}</p>
	</div>
</div>
