<fc-box-layout-container>
	<div
		*ngIf="box$ | async as box"
		class="flex items-center justify-center h-screen">
		<div
			class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs">
			<img
				class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto"
				[src]="box.iconUrl" />
			<h1 class="text-lg text-gray-700">{{ box.name }}</h1>
			<h3 class="text-sm text-gray-400">{{ box.cost }}$</h3>
			<ng-container *ngFor="let reward of boxRewards$ | async">
				<p
					*ngIf="reward.itemVariant as item"
					class="text-xs text-green-400 mt-4">
					You won {{ item.name }} with a value of {{ item.value }}$
				</p>
			</ng-container>
			<button
        *ngIf='isAuthenticated$ | async'
				(click)="openBox(box.id)"
				class="bg-red-500 hover:bg-red-700 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide">
				Open Case
			</button>
		</div>
	</div>
  <fc-loader *ngIf='isLayoutBusy$ | async'></fc-loader>
</fc-box-layout-container>
